button[data-start],
button[data-stop] {
  min-width: 80px;
  min-height: 40px;
}

button[data-start]:not([disabled]):hover,
button[data-start]:not([disabled]):focus {
  background-color: rgb(133, 255, 124);
  border: 2px outset #212121;
  border-radius: 4%;
}

button[data-stop]:not([disabled]):hover,
button[data-stop]:not([disabled]):focus {
  background-color: rgb(255, 124, 148);
  border: 2px outset #212121;
  border-radius: 4%;
}
