#datetime-picker {
  min-width: 100px;
  min-height: 40px;
}

#datetime-picker + button[data-start] {
  min-width: 100px;
  min-height: 40px;
}

.timer {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 50px;
  max-height: 70px;
}